body {
    background-color: rgb(228, 96, 56);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color:rgb(9, 22, 27);
    font-weight: bold;
    font-size: 48px;
}

img {
    border-style: double;
    border-width: 8px;
    border-color: black;
}

p {
    font-size: 18px;
}

ul {
    list-style-type: none;
}

ol { 
    font-style: italic;
}

a {
    color: rgb(39, 18, 223)
}